@model Olimpiada.Models.Olimpiada.AddEventViewModel

<h2>Dodaj nowe wydarzenie dla sportowca</h2>

<form method="post" asp-controller="Athletes" asp-action="AddEvent">
    <input type="hidden" asp-for="AthleteId" />

    <div class="form-group">
        <label asp-for="SportName">Nazwa dyscyplina:</label>
        <input asp-for="SportName" class="form-control" required />
        <span asp-validation-for="SportName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EventName">Nzwa wydarzenie:</label>
        <input asp-for="EventName" class="form-control" required />
        <span asp-validation-for="EventName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Olympics">Nazwa olimpiady:</label>
        <input asp-for="Olympics" class="form-control" required />
        <span asp-validation-for="Olympics" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AthleteAge">Wiek sportowca:</label>
        <input asp-for="AthleteAge" type="number" class="form-control" required />
        <span asp-validation-for="AthleteAge" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Dodaj wydarzenie</button>
    <a class="btn btn-secondary" asp-controller="Athletes" asp-action="Index">Anuluj</a>
</form>
